<a class="flex flex-row bg-white rounded-xl shadow-md shadow-[#D9B0FD]/15 md:max-w-xl hover:bg-lilac-50">
    <div>
        <img class="object-contain rounded-l-xl" src="assets/img/ticket-background.jpg" alt="Fondo del Boleto" />
    </div>
    <div class="flex flex-col justify-between p-5">
        <div>
            <h5 class="text-2xl font-bold tracking-tight text-primary-600">Curso Vue</h5>
            <p class="text-small text-jaguar-950">
                Lorem ipsum dolor sit amet consectetur. Ametlacus
                ultrices leo eget posuere mauris netus...
            </p>
            <time class="text-sm font-semibold text-primary-600" datetime="2024-05-20">20/05/2024</time>
        </div>
        <div>
            <small class="text-sm font-semibold text-primary-600">Cantidad</small>
            <h6 class="text-base font-medium text-jaguar-950">3 Premios</h6>
        </div>
    </div>
    <div class="flex justify-center items-center py-3 px-5">
        <img class="h-44" src="assets/img/barcode.png" />
    </div>
</a>
